openapi: 3.0.0
info:
  title: RaftaarFreight API
  description: 'Pakistan''s premier real-time truck booking and delivery marketplace API'
  version: 1.0.0
  contact:
    name: RaftaarFreight Support
    email: support@raftaarfreight.com
  license:
    name: MIT

servers:
  - url: https://api.raftaarfreight.com
    description: Production
  - url: http://localhost:3001
    description: Development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Bookings
    description: Booking management operations
  - name: Payments
    description: Payment processing
  - name: Tracking
    description: Real-time tracking
  - name: Users
    description: User management
  - name: Admin
    description: Administrative operations
  - name: WebSocket
    description: Real-time WebSocket events

paths:
  /api/auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
                phone:
                  type: string
                  pattern: '^\+92\d{10}$'
                userType:
                  type: string
                  enum: [customer, driver, fleet_owner]
              required: [email, password, name, phone, userType]
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
        '409':
          description: Email already exists

  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required: [email, password]
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials

  /api/bookings:
    get:
      tags:
        - Bookings
      summary: List bookings
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, accepted, in_progress, completed, cancelled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

    post:
      tags:
        - Bookings
      summary: Create new booking
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pickupLocation:
                  $ref: '#/components/schemas/Location'
                dropoffLocation:
                  $ref: '#/components/schemas/Location'
                pickupTime:
                  type: string
                  format: date-time
                quantity:
                  type: integer
                  minimum: 1
                weight:
                  type: number
                  minimum: 0
                description:
                  type: string
                truckType:
                  type: string
                  enum: [bike, auto, hatchback, sedan, suv, van, pickup, truck]
              required: [pickupLocation, dropoffLocation, pickupTime, quantity, weight]
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'

  /api/bookings/{id}:
    get:
      tags:
        - Bookings
      summary: Get booking details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Booking details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '404':
          description: Booking not found

    patch:
      tags:
        - Bookings
      summary: Update booking
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [cancelled]
      responses:
        '200':
          description: Booking updated
        '403':
          description: Not authorized to update

  /api/payments/initiate:
    post:
      tags:
        - Payments
      summary: Initiate payment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingId:
                  type: string
                amount:
                  type: number
                  minimum: 0
                method:
                  type: string
                  enum: [jazzcash, easypaisa, wallet]
                returnUrl:
                  type: string
                  format: uri
              required: [bookingId, amount, method]
      responses:
        '201':
          description: Payment initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  referenceNumber:
                    type: string
                  redirectUrl:
                    type: string
                    format: uri
                  status:
                    type: string

  /api/payments/verify:
    post:
      tags:
        - Payments
      summary: Verify payment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                referenceNumber:
                  type: string
                transactionId:
                  type: string
              required: [referenceNumber]
      responses:
        '200':
          description: Payment verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  transactionId:
                    type: string
                  amount:
                    type: number

  /api/tracking/{bookingId}:
    get:
      tags:
        - Tracking
      summary: Get real-time tracking
      security:
        - BearerAuth: []
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current tracking information
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookingId:
                    type: string
                  truckId:
                    type: string
                  currentLocation:
                    $ref: '#/components/schemas/Location'
                  estimatedArrival:
                    type: string
                    format: date-time
                  status:
                    type: string
                  distance:
                    type: number
                    description: Distance in kilometers

  /api/admin/users:
    get:
      tags:
        - Admin
      summary: List all users
      security:
        - BearerAuth: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [customer, driver, fleet_owner, admin]
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          description: Admin access required

  /api/admin/kyc/{id}/approve:
    post:
      tags:
        - Admin
      summary: Approve KYC document
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: KYC approved
        '403':
          description: Admin access required
        '404':
          description: KYC document not found

  /api/admin/kyc/{id}/reject:
    post:
      tags:
        - Admin
      summary: Reject KYC document
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required: [reason]
      responses:
        '200':
          description: KYC rejected
        '403':
          description: Admin access required

  /api/admin/disputes/{id}/resolve:
    post:
      tags:
        - Admin
      summary: Resolve dispute
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resolution:
                  type: string
                  enum: [approved, rejected, settled]
                refundAmount:
                  type: number
                notes:
                  type: string
              required: [resolution]
      responses:
        '200':
          description: Dispute resolved
        '403':
          description: Admin access required

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        userType:
          type: string
          enum: [customer, driver, fleet_owner]
        profileImage:
          type: string
          format: uri
        isVerified:
          type: boolean
        kycStatus:
          type: string
          enum: [pending, verified, rejected]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Location:
      type: object
      properties:
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        address:
          type: string
        city:
          type: string
        province:
          type: string
      required: [lat, lng]

    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
        driverId:
          type: string
          nullable: true
        pickupLocation:
          $ref: '#/components/schemas/Location'
        dropoffLocation:
          $ref: '#/components/schemas/Location'
        pickupTime:
          type: string
          format: date-time
        dropoffTime:
          type: string
          format: date-time
          nullable: true
        quantity:
          type: integer
        weight:
          type: number
        description:
          type: string
        status:
          type: string
          enum: [pending, accepted, in_progress, completed, cancelled]
        price:
          type: number
        paymentStatus:
          type: string
          enum: [pending, completed, failed, refunded]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Authentication required
    Forbidden:
      description: Access denied
    NotFound:
      description: Resource not found
    BadRequest:
      description: Invalid input

x-code-samples:
  - lang: curl
    source: |
      # Register user
      curl -X POST https://api.raftaarfreight.com/api/auth/register \
        -H "Content-Type: application/json" \
        -d '{
          "email": "user@example.com",
          "password": "SecurePassword123",
          "name": "John Doe",
          "phone": "+923001234567",
          "userType": "customer"
        }'

  - lang: javascript
    source: |
      // Create booking
      const response = await fetch('https://api.raftaarfreight.com/api/bookings', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${accessToken}`
        },
        body: JSON.stringify({
          pickupLocation: { lat: 31.5204, lng: 74.3587 },
          dropoffLocation: { lat: 31.4504, lng: 74.2762 },
          pickupTime: new Date(Date.now() + 3600000).toISOString(),
          quantity: 100,
          weight: 500,
          description: 'Electronics shipment'
        })
      })

  - lang: python
    source: |
      import requests
      
      # Initiate payment
      headers = {
          'Authorization': f'Bearer {access_token}',
          'Content-Type': 'application/json'
      }
      
      payload = {
          'bookingId': 'booking-123',
          'amount': 5000,
          'method': 'jazzcash',
          'returnUrl': 'https://raftaarfreight.com/payment/success'
      }
      
      response = requests.post(
          'https://api.raftaarfreight.com/api/payments/initiate',
          json=payload,
          headers=headers
      )
      print(response.json())
